:root {
  --lightorange: rgba(255, 165, 0, 0.1);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

th {
  /* use green and white for the colors - these colors are defined in the styles.css file */
  background-color: green;
  color: white;
  font-weight: bolder;
}

.channel {
  /* use orange and black for the colors - these colors are defined in the styles.css file */
  background-color: orange;
  color: black;
  text-align: center;
  font-weight: bolder;
}

.highlight {
  background-color: var(--lightorange);
}

tr,
th,
td {
  padding: 10px;
}
